body{

   font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffc40065;
}

p{
    font-size: 25px;
    color: black;
   
}
.title{
    font-size: 50px;
    color: black;
    text-align: center;
    
}
footer{
    font-size: 20px;
    color: rgb(85, 0, 255);
    background-color: #ff0000;
}
.tips{
    font-size: 20px;
    color: rgb(85, 0, 255);
    background-color: #ff0000;
}