body{

    font-family: 'Hobyeneminestyl', sans-serif;
    background-color: #580000;
    color: #ff0000;
}
.spesiel_setnig{
    font-size: 20px;
    font-weight: bold;
    color: #2200ff;
}
footer{
    background-color: #000000;
    color: #000000;
    
}